game/dota_addons/zjz/tools_asset_info.bin
game/dota_addons/zjz/tools_thumbnail_cache.bin
game/dota_addons/zjz/maps/zjz.vpk
content/dota_addons/zjz/maps/houses_walltrims_fences_lights.vmap
game/dota_addons/zjz/elements/sessions/session.autosave
